@font-face {
  font-family: "Genrock-Regular";
  src: url("../../public/fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Genrock-Light";
  src: url("../../public/fonts/OpenSans-Light.ttf") format("truetype");
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #667517;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  font-family: 'Genrock-Regular', Helvetica;
}

h1, h2 {
  font-family: 'Genrock-Light', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
}

code {
  font-family: 'Genrock-Regular', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

hr {
  background-color: gainsboro;
  height: 1px;
  border: none;
}

button {
  color: #667517;
  background-color: white;
  border: 2px solid #667517;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 6%;
  padding-right: 6%;
  transition: all .5s;
  font-family: 'Genrock-Regular', Helvetica;
}

button:hover {
  color: white;
  cursor: pointer;
  background-color: #667517;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

#humans,
#yellows,
#primrose,
#oranges,
#rainbow,
#foundations,
#floor,
#early {
  transition: all 1s ease;
}

#foundations,
#early {
  animation: fadeInUp 1s;
}

#primrose {
  animation: fadeInUp 2s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

#humans, #yellows, #oranges, #floor, #rainbow {
  opacity: 0;
  animation: dropIn 4s ease forwards infinite;
  animation-delay: calc(var(--order) * 200ms);
}

@keyframes dropIn {
  20% {
    opacity: 0;
    transform: translateY(-20%);
  }

  30%, 90% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(20%);
  }
}

svg:hover #humans,
svg:hover #yellows,
svg:hover #primrose,
svg:hover #oranges,
svg:hover #rainbow,
svg:hover #foundations,
svg:hover #floor,
svg:hover #early {
  opacity: 1;
  transform: translateY(0%);
}