
.navbar {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  border-top: solid #667517 5px;
  background-color: white;
  padding-right: 15%;
  padding-left: 8%;
  z-index: 100;
}

.navbar_image {
  max-width: 100px;
}

.navbar__title {
  margin-right: auto;
  padding: 5px;
}

.navbar__item {
  padding: 16px 16px;
  cursor: pointer;
  vertical-align: middle;
  color: #4c4c4c;
  transition: .2s all ease-in-out;
}

.navbar__item h3 {
  color: white;
  font-family: 'Genrock-Light';
}

.navbar__item h3:hover {
  color: #B0D8DB;
}

.navbar__item:hover {
  color: #B0D8DB;
}

.hamburger {
  display: none;
}

.navbar__mobile {
  display: none;
}

@media all and (max-width: 900px) {
 .navbar {
   display: block;
   padding: 2%;
   padding-bottom: 1%;
   background: #f7e7cf;
   border: 0;
 }
 
 .navbar__title {
   display: none;
  }

  .navbar__mobile {
    display: flex;
    justify-content: space-between;
  }

  .hamburger {
    display: block;
  }

  .navbar__item {
    padding: 0;
    margin: 0;
  }
}